.amazon-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 20px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    padding: 0;
}

.amazon-container-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.head-box {
    background-color: green;
    margin: 0;
    padding: 5px 20px 5px 20px;
    border-radius: 0 0 0 4px;
}

.head-box b {
    color: white;
}

.description-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10px 30px 30px ;
    align-items: flex-start;
}

.img-container {
    height: 100%;
    flex-wrap: wrap;
    width: 20%;
    max-width: 50%;
    margin: 0 20px 0 0;
}

.img-container img {
    width: 100%;
    padding: 10px;
}

.description-of-product {
    width: 80%;
    max-width: 50%;
    margin: 0;
    padding: 0 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    height: 100%;
}

.description-of-product h4 {
    font-size: 23px;
    text-align: left;
    width: 100%;
    margin: 10px 0 5px 0;
}

.description-of-product ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.description-of-product ul li {
    margin: 5px 0 0 0;
}

.buy-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.buy-container-footer {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.buy-container-footer p {
    padding: 0 20px 5px 0;
    margin: 0;
}

