.amazon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 0 20px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.23);
    padding: 0;
}

.description-container {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 0 20px 0 ;
    align-items: flex-start;
}

.img-container {
    height: 100%;
    flex-wrap: wrap;
    width: 40%;
    max-width: 50%;
    margin: 0 20px 0 0;
}

.img-container img {
    width: 100%;
    padding: 10px;
}

.description-of-product {
    width: 60%;
    max-width: 50%;
    margin: 0;
    padding: 0 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: left;
    height: 100%;
}

.description-of-product h4 {
    font-size: 23px;
    text-align: left;
    width: 100%;
    margin: 0;
}

.description-of-product ul {
    width: 100%;
    margin: 0;
    padding: 0 0 0 -30px;
}

.buy-container {
    width: 20%;
    margin: 0;
}

