.amazon-banner-row {
    max-width: 90%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.amazon-banner-card {
    max-width: 30%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    -moz-box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.52);
    border-radius: 3px;
    padding: 3px;
}

.product-image-container {
    width: 100%;
}

.product-image-container img {
    width: 100%;
}

.product-name-title a {
    text-decoration: none;
}

.product-name-title h3 a{
    color: #03D6F2;
    text-align: center;
    margin: 0 auto;
}

.product-name-title h3 a:hover{
    color: #039EF2;
}

.pricetag {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.amazon-button-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 0 10px 0;
}

.amazon-button-row {
    border-color: #9c7e31 #90742d #786025 !important;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255,255,255,0.4) inset;
    background: #f0c14b;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b) repeat scroll 0 0 rgba(0,0,0,0);
    color: #111 !important;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
    padding: 7px 12px 6px 12px;
    border: 1px solid transparent !important;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    text-decoration: none !important;
}

@media (max-width: 1024px) {
    .amazon-banner-row {
        width: 100%;
    }
    .amazon-banner-card {
        width: 28%;
    }
}

@media (max-width: 425px) {
    .amazon-banner-card {
        width: 90%;
        max-width: 90%;
    }
}