.capturadoras-marcas-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.capturadoras-marcas {
    width: 25%;
    min-width: 25%;
    height: 30vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.capturadoras-marcas .marca-name {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px white;
}

.capturadoras-marcas .marca-name:hover {
    background-color: rgba(100, 200, 200, 0.5);
}

.capturadoras-marcas p {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: space-around;
    color: white;
    font-weight: 700;
}

.mb1 {
    background-image: url(../../images/elgatowebp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb1 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb2 {
    background-image: url(../../images/qgeemwbmp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb2 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb3 {
    background-image: url(../../images/avermediaFull.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb3 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb4 {
    background-image: url(../../images/linkstablereducejpg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb4 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb5 {
    background-image: url(../../images/miraboxrecudewbpm.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb5 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb6 {
    background-image: url(../../images/SeAAnwbmp.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb6 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb7 {
    background-image: url(../../images/pengoReducewbpm.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb7 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.mb8 {
    background-image: url(../../images/razerwebpReduce.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mb8 p {
    color:white;
    background-color: rgba(10, 10, 10, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.capturadora-p {
    text-align: left;
}

.capturadora-p a {
    text-decoration: none;
    color: #2b2e34;
    font-weight: 700;
}

.capturadora-p a:hover {
    color: #03D6F2;
    font-weight: 700;
}

@media (max-width: 425px) {
    .capturadoras-marcas-container {
        flex-direction: column;
    }

    .capturadoras-marcas {
        width: 100%;
        height: 320px;
        margin: 0 auto;
    }
}