.footer-full {
    bottom: 10;
    width: 100%;
    margin: 0;
    background-color: black;
    margin-top: 20px;
    position: absolute;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.colum {
    flex: 2;
    align-items: center;
    justify-content: space-around;
    text-align: left;
}

.colum a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

.colum ul li {
    margin: 10px;
}

.slogan {
    display: flex;
    width: 100%;
    margin: 0;
    font-weight: 500;
}

.slogan p {
    width: 100%;
    text-align: center;
    color: white;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 425px) {

}
@media (min-width: 360px) {

}