.dinamicContentContainer {
    margin: 0 auto;
    max-width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.dinamicContentContainer p {
    text-align: left;
}

.buttonContainer {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.buttonContainer button {
    margin: 0 10px 0 10px;
    padding: 15px 20px 15px 20px;
    font-size: 17px;
    font-weight: 500;
    border-radius: 15px;
    background-color: #044BD9;
    color: white;
    border: solid 5px #0554F2;
}

.buttonContainer button:hover {
    background-color: #0460D9 ;
    border: solid 5px #044BD9;
}

.productsToShowContainer {
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

@media (max-width: 425px) {
    .buttonContainer {
        display: flex;
        flex-direction: column;
    }

    .buttonContainer button {
        margin: 10px 0;
    }
}