.home {
    width: 100%;
    min-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

.home h1 {
    margin: 0;
    margin-top: 7vh;
    font-size: 4rem;
    font-weight: bolder;
}

.home p {
    font-size: 20px;
    font-weight: 400;
}

.home h2 {
    font-size: 27px;
}

.article-content {
    text-align: left;
}

.article-content ul li {
    font-size: 2rem;
}

.streaming-type p {
    text-align: left;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
    
}
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {

}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .home h1 {
        display: none;
    }

    .home p {
        font-size: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 425px) {
    .home p {
        font-size: 20px;
    }

    .home {
        overflow: hidden;
    }
}
@media (max-width: 360px) {

}
