.post-row {
    display: flex;
    flex-direction: row;
    flex: auto;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    justify-content: space-around;
}

.post_container {
    display: flex;
    flex-direction: column;
    flex: 3;
    /*max-width: 33%;*/
    border-radius: 10% 10% 0 0;
    overflow: hidden;
    margin: 5px 10px 5px 10px;
}

.post_container img {
    max-width: 100%;
}

.post_container h3 {
    padding: 10px;
    color: red;
    margin: 0;
    width: 100%;
}

.post_container h3:hover {
    background-color: black;
}

.post_container a {
    text-decoration: none;
}

.post_container p {
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

.post_container .tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #727273;
}

.post_container small {
    display: flex;
    text-align: center;
}