body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  overflow-x: hidden;
  max-width: 100%;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  width: 80%;
  max-width: 75%;
  margin: 0 auto;
}

h4 {
  font-size: 25px;
}

h3 {
  font-size: 25px;
}

p {
  font-size: 18px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1200px) {
  
}
/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
  .app-container {
    max-width: 85%;
    width: 85%;
    margin: 0 auto;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 600px) {
  
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 425px) {

}
